<% stylesheet_link_tag 'users/index' %>
<div class="flex m-5 h-32 gap-5">
    <div class="w-32 h-full object-cover">
        <img src="<%= user.photo %>" alt="Profile Picture">
    </div>
    <div id="box-border" class="m-3 p-5 flex flex-col justify-center">
        <h1 class="font-black self-end"><%= user.name %></h1>
        <p class="text-lg self-end">Number of Posts: <%= user.posts_counter || 0 %></p>
    </div>
</div>