<% stylesheet_link_tag 'users/index' %>
<div id="box-border" class="p-4 flex flex-col">
  <h2 class="text-lg mb-4">Post #<%= post.id %></h2>
  <p class="overflow-hidden whitespace-nowrap text-ellipsis"><%= post.text %></p>
  <div class="lex gap-5 self-end">
    <p>Comments <%= post.comments_counter || 0 %></p>
    <p>Likes <%= post.likes_counter || 0 %></p>
  </div>
</div>