<div class="p-10 flex flex-col gap-7">
  <%= render 'users/user_tile', user: @user %>
  <ul class="list-none flex flex-col gap-7">
    <% @all_posts.each do |post| %>
      <li>
        <%= link_to user_post_path(@user, post) do %>
          <%= render 'posts/post_tile', post: post, expanded: false %>
        <% end %>
        <%= render 'posts/comments_tile', comments: post.recent_comments %>
      </li>
    <% end %>
  </ul>
</div>